.app {
  background: #ECDFDC;
  margin: 3% 10% 0 10%;
  height: 550px;
  -webkit-box-shadow: -20px -20px 60px 5px rgba(48, 48, 48, 0.57), 20px 20px #AC938E;
  -moz-box-shadow: -20px -20px 60px 5px rgba(48, 48, 48, 0.57), 20px 20px #AC938E;
  box-shadow: -20px -20px 60px 5px rgba(48, 48, 48, 0.57), 20px 20px #AC938E;

  @media only screen and (max-width: 800px) {
    margin: 3% 5% 0 5%;
    min-height: 650px;
  }

  @media only screen and (max-width: 600px) {
    margin: 0;
    box-shadow: none;
  }
}

.navbar {
  width: 80%;
  padding: 0;
  background: transparent;
  position: fixed;
  display: flex; 
  justify-content: space-between;
  align-items: flex-start;

  @media only screen and (max-width: 800px) {
    width: 90%;
  }

  @media only screen and (max-width: 600px) {
    width: 100%;
  }


  img {
    width: 70px;
    margin: 0.5rem;
  }

  &-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1rem;
    width: 180px;

    svg {
      padding-bottom: 0.2rem;
      cursor: pointer;
    }

    a {
      color: #3A3335;
      text-decoration: none;
      font-size: 1.2rem;
      border-bottom: 1px solid #3A3335;;
      width: 100%;
      text-align: right;
      padding: 0.6rem 0;
      
      svg {
        margin-left: 0.4rem;
      }
  
      &:hover {
        color: white;
        background: radial-gradient( rgba(58, 51, 53, 0.2) 15%, #AC938E 80%);
      }
    }
  }
}

.footer {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 1.4rem;
  color: #9B9899;

  @media only screen and (max-width: 600px) {
    margin-top: 0.6rem;
  }

  a {
    color: #9B9899;
  }
}

.home {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  .home-title {
    width: 100%;
    padding: 6rem 0 4rem 0; 

    @media only screen and (max-width: 600px) {
      padding: 3rem 0 4rem 0;
    }

    h1 {
      font-size: 3.4rem;
    }
  
    p {
      margin: 1.5rem;
      font-size: 1.3rem;
      color: rgb(114, 114, 114);
    }
  }


  a {
    margin-top: 2rem;

    button {  
      border: 2px solid #7A5565;
      background: #7A5565;
      color: rgba(255, 255, 255, 0.8);
      border-radius: 5px;
      padding: 0.6rem;
      cursor: pointer;

      &:hover {
        background: transparent;
        color: #7A5565;
      }

      span {
        margin-left: 0.4rem;
        font-weight: 600;
      }
    }
  }
}

.about {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .about-text {
    width: 70%;
    margin: 1rem;
    
    h2 {
      margin: 1rem;
      font-size: 1.2rem;
    }

    p {
      text-align: justify;
    }
  }

  .about-tech{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;

    .icon-row {
      display: flex;
      justify-content: center;
      align-items: center;

      @media only screen and (max-width: 600px) {
        flex-wrap: wrap;
      }
  
      img {
        width: 40px;
        margin: 0.5rem;
      }

      #firebase {
        width: 30px;
      }
    }
  }

  a {
    margin-top: 1rem;

    button {  
      border: 2px solid #7A5565;
      background: #7A5565;
      color: rgba(255, 255, 255, 0.8);
      border-radius: 5px;
      padding: 0.6rem;
      cursor: pointer;

      &:hover {
        background: transparent;
        color: #7A5565;
      }

      span {
        margin-left: 0.4rem;
        font-weight: 600;
      }
    }
  }
}

.portfolio {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  overflow-y: scroll;
  padding-top: 3rem;

  @media only screen and (max-width: 800px) {
    padding-top: 5rem;
  }


  h3 {
    font-size: 1.2rem;

    @media only screen and (max-width: 600px) {
      width: 80%;
    }
  }

  .projects {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    .project {
      display: flex;
      flex-direction: column;
      background: white;
      width: 450px;
      text-align: left;
      margin: 2rem;

      @media only screen and (max-width: 600px) {
        width: 95%;
      }

      &-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.2rem 0;
        font-size: 1.2rem;
      }

      img {
        width: 100%;
      }

      h4, p {
        margin: 0.4rem;
      }

      &-tag {
        display: flex;
        justify-content: center;
        margin: 0.4rem;
        font-size: 0.8rem;

        p {
          color: #9B9899;
          border: 1px solid #9B9899;
          padding: 0.2rem;
          margin: 0 0.4rem;
        }
      }
      
      &-text {
        align-self: center;
        width: 90%;
        margin: 0.4rem 0;
        min-height: 120px;
      }

      &-btn {
        display: flex;
        justify-content: center;

        a {
          .fa-sm {
            font-size: 1rem;
          }
      
          button {  
            border: 2px solid #AC938E;
            background: #AC938E;
            color: white;
            border-radius: 5px;
            padding: 0.3rem 0.6rem;
            margin: 0rem 1.6rem 0.8rem 1.6rem;
            cursor: pointer;
      
            &:hover {
              background: transparent;
              color: #AC938E;
            }
      
            span {
              margin-left: 0.4rem;
              font-weight: 600;
            }
          }
        }
      }
    }
  }

  a {
    margin-top: 1rem;

    button {  
      border: 2px solid #7A5565;
      background: #7A5565;
      color: rgba(255, 255, 255, 0.8);
      border-radius: 5px;
      padding: 0.6rem;
      margin-bottom: 2rem;
      cursor: pointer;

      &:hover {
        background: transparent;
        color: #7A5565;
      }

      span {
        margin-left: 0.4rem;
        font-weight: 600;
      }
    }
  }
}

.portfolio::-webkit-scrollbar {
  width: 5px;
}

.portfolio::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent; 
  border-radius: 2px;
}
 
/* Handle */
.portfolio::-webkit-scrollbar-thumb {
  background: rgba(155, 152, 153, 0.664); 
  border-radius: 10px;
}

/* Handle on hover */
.portfolio::-webkit-scrollbar-thumb:hover {
  background: rgb(119, 115, 117);  
}

.contact {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 1rem;

  @media only screen and (max-width: 350px) {
    padding-top: 2rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  p {
    font-size: 1.2rem;
    margin: 1rem;
  }

  &-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem 0;
    width: 100%;

    .icon {
      margin: 1rem 2rem;

      a {
        color: #7A5565;
        width: 36px;
        cursor: pointer;
        
        :hover {
          color: #9B9899;
        }
      }
  
      p {
        font-size: 0.9rem;
        font-weight: 700;
        margin: 0.4rem 0;
      }
    }
  }
}

.not-found {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 1rem;

  h4 {
    font-size: 1.4rem;
    margin: 2rem 0;
  }

  a {
    margin-top: 2rem;

    button {  
      border: 2px solid #7A5565;
      background: #7A5565;
      color: rgba(255, 255, 255, 0.8);
      border-radius: 5px;
      padding: 0.6rem;
      cursor: pointer;

      &:hover {
        background: transparent;
        color: #7A5565;
      }

      span {
        margin-left: 0.4rem;
        font-weight: 600;
      }
    }
  }
}